In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import os

In [3]:
os.chdir('C:\\Users\\Dell\\Downloads\\Python Foundation Case Study 1 - Retail Case Study\\Case Study 1 - Retail Case Study')
transactions = pd.read_csv('Transactions.csv')
customers = pd.read_csv('Customer.csv')
product_cat = pd.read_csv('prod_cat_info.csv')

Q1) Merge the datasets Customers, Product Hierarchy and Transactions as Customer_Final. Ensure to keep all customers who have done transactions with us and select the join type accordingly.

In [4]:
customers.rename(columns={'customer_Id':'cust_id'},inplace=True)
product_cat.rename(columns={'prod_sub_cat_code':'prod_subcat_code'},inplace=True)
customer_transactions = pd.merge(left=transactions, right=customers, on="cust_id", how="inner")
customer_final = pd.merge(left=customer_transactions, right=product_cat,on=["prod_cat_code", "prod_subcat_code"], how="left")
customer_final.head()

,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type,DOB,Gender,city_code,prod_cat,prod_subcat
0,80712190438,270351,28-02-2014,1,1,-5,-772,405.300,-4265.300,e-Shop,26-09-1981,M,5.0,Clothing,Women
1,29258453508,270384,27-02-2014,5,3,-5,-1497,785.925,-8270.925,e-Shop,11-05-1973,F,8.0,Electronics,Computers
2,51750724947,273420,24-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop,27-07-1992,M,8.0,Books,DIY
3,93274880719,271509,24-02-2014,11,6,-3,-1363,429.345,-4518.345,e-Shop,08-06-1981,M,3.0,Home and kitchen,Bath
4,51750724947,273420,23-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop,27-07-1992,M,8.0,Books,DIY

Q2) Prepare a summary report for the merged data set:
 a. Get the column names and their corresponding data types
 b. Top/Bottom 10 observations
 c. “Five-number summary” for continuous variables (min, Q1, median, Q3 and max)
 d. Frequency tables for all the categorical variables

#### a. Column names and their corresponding data types

In [20]:
print("Column Names and Data Types:")
customer_final.dtypes

Column Names and Data Types:

transaction_id        int64
cust_id               int64
tran_date            object
prod_subcat_code      int64
prod_cat_code         int64
Qty                   int64
Rate                  int64
Tax                 float64
total_amt           float64
Store_type           object
DOB                  object
Gender               object
city_code           float64
prod_cat             object
prod_subcat          object
dtype: object

#### b. Top 10 observations

In [26]:
print("Top 10 Observations:")
customer_final.head(10)

Top 10 Observations:

,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type,DOB,Gender,city_code,prod_cat,prod_subcat
0,80712190438,270351,28-02-2014,1,1,-5,-772,405.300,-4265.300,e-Shop,26-09-1981,M,5.0,Clothing,Women
1,29258453508,270384,27-02-2014,5,3,-5,-1497,785.925,-8270.925,e-Shop,11-05-1973,F,8.0,Electronics,Computers
2,51750724947,273420,24-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop,27-07-1992,M,8.0,Books,DIY
3,93274880719,271509,24-02-2014,11,6,-3,-1363,429.345,-4518.345,e-Shop,08-06-1981,M,3.0,Home and kitchen,Bath
4,51750724947,273420,23-02-2014,6,5,-2,-791,166.110,-1748.110,TeleShop,27-07-1992,M,8.0,Books,DIY
5,97439039119,272357,23-02-2014,8,3,-2,-824,173.040,-1821.040,TeleShop,09-10-1982,F,6.0,Electronics,Personal Appliances
6,45649838090,273667,22-02-2014,11,6,-1,-1450,152.250,-1602.250,e-Shop,29-05-1981,M,9.0,Home and kitchen,Bath
7,22643667930,271489,22-02-2014,12,6,-1,-1225,128.625,-1353.625,TeleShop,21-04-1971,M,9.0,Home and kitchen,Tools
8,79792372943,275108,22-02-2014,3,1,-3,-908,286.020,-3010.020,MBR,04-11-1971,F,8.0,Clothing,Kids
9,50076728598,269014,21-02-2014,8,3,-4,-581,244.020,-2568.020,e-Shop,27-11-1979,F,3.0,Electronics,Personal Appliances

#### Bottom 10 observations

In [27]:
print("Bottom 10 Observations:")
customer_final.tail(10)

Bottom 10 Observations:

,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type,DOB,Gender,city_code,prod_cat,prod_subcat
23043,49882891062,271982,25-01-2011,10,5,4,1330,558.600,5878.600,e-Shop,10-08-1976,M,8.0,Books,Non-Fiction
23044,14787475597,273982,25-01-2011,4,3,5,969,508.725,5353.725,e-Shop,12-10-1991,M,4.0,Electronics,Mobiles
23045,50691119572,273031,25-01-2011,6,5,1,1148,120.540,1268.540,TeleShop,17-01-1980,F,8.0,Books,DIY
23046,40893803228,272049,25-01-2011,11,6,3,1077,339.255,3570.255,e-Shop,28-06-1975,F,6.0,Home and kitchen,Bath
23047,30856003613,266866,25-01-2011,4,2,2,444,93.240,981.240,TeleShop,18-04-1974,M,4.0,Footwear,Kids
23048,94340757522,274550,25-01-2011,12,5,1,1264,132.720,1396.720,e-Shop,21-02-1972,M,7.0,Books,Academic
23049,89780862956,270022,25-01-2011,4,1,1,677,71.085,748.085,e-Shop,27-04-1984,M,9.0,Clothing,Mens
23050,85115299378,271020,25-01-2011,2,6,4,1052,441.840,4649.840,MBR,20-06-1976,M,8.0,Home and kitchen,Furnishing
23051,72870271171,270911,25-01-2011,11,5,3,1142,359.730,3785.730,TeleShop,22-05-1970,M,2.0,Books,Children
23052,77960931771,271961,25-01-2011,11,5,1,447,46.935,493.935,TeleShop,15-01-1982,M,1.0,Books,Children

#### c. "Five-number summary" for continuous variables

In [75]:
print("Five-Number Summary:")
customer_final.describe().loc['min':,:]

Five-Number Summary:

,transaction_id,cust_id,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,city_code
min,3.268991e+06,266783.0,1.0,1.0,-5.0,-1499.0,7.350,-8270.925,1.0
25%,2.493864e+10,268935.0,3.0,2.0,1.0,312.0,98.280,762.450,3.0
50%,5.009313e+10,270980.0,5.0,4.0,3.0,710.0,199.080,1754.740,5.0
75%,7.533000e+10,273114.0,10.0,5.0,4.0,1109.0,365.715,3569.150,8.0
max,9.998755e+10,275265.0,12.0,6.0,5.0,1500.0,787.500,8287.500,10.0

#### d. Frequency tables for all categorical variables

In [77]:
categorical_columns = customer_final.select_dtypes(include=['object', 'category']).columns
print("\nFrequency Tables for Categorical Variables:")
for col in categorical_columns:
    print(f"\nFrequency table for {col}:")
    print(customer_final[col].value_counts())

Frequency Tables for Categorical Variables:

Frequency table for tran_date:
tran_date
13-07-2011    35
21-12-2013    33
22-11-2011    33
23-10-2011    33
25-09-2011    33
              ..
23-02-2014     2
24-02-2014     2
21-02-2014     1
27-02-2014     1
28-02-2014     1
Name: count, Length: 1129, dtype: int64

Frequency table for Store_type:
Store_type
e-Shop            9311
MBR               4661
Flagship store    4577
TeleShop          4504
Name: count, dtype: int64

Frequency table for DOB:
DOB
27-12-1988    32
17-09-1982    32
25-02-1974    27
20-03-1972    25
18-11-1991    24
              ..
18-09-1987     1
21-07-1984     1
04-01-1991     1
09-11-1971     1
10-06-1972     1
Name: count, Length: 3987, dtype: int64

Frequency table for Gender:
Gender
M    11811
F    11233
Name: count, dtype: int64

Frequency table for prod_cat:
prod_cat
Books               6069
Electronics         4898
Home and kitchen    4129
Footwear            2999
Clothing            2960
Bags                1998
Name: count, dtype: int64

Frequency table for prod_subcat:
prod_subcat
Women                  3048
Mens                   2912
Kids                   1997
Tools                  1062
Fiction                1043
Kitchen                1037
Children               1035
Mobiles                1031
Comics                 1031
Bath                   1023
Furnishing             1007
Non-Fiction            1004
DIY                     989
Cameras                 985
Personal Appliances     972
Academic                967
Computers               958
Audio and video         952
Name: count, dtype: int64

Q3) Calculate the following information using the merged dataset :
 a. Time period of the available transaction data
 b. Count of transactions where the total amount of transaction was negative

#### a. Time period of the available transaction data

In [46]:
transactions.columns

Index(['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code',
       'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type'],
      dtype='object')

In [86]:
transactions['tran_date'] = pd.to_datetime(transactions['tran_date'], format='%m/%d/%Y')
min_date = transactions['tran_date'].min()
max_date = transactions['tran_date'].max()

print('Time period of available transaction data:',max_date - min_date)

Time period of available transaction data: 1107 days 00:00:00

#### b. Count of transactions where the total amount of transaction was negative

In [88]:
negative_transactions_count = transactions[transactions['total_amt'] < 0].shape[0]
print('Number of transactions with negative total amount:' ,negative_transactions_count)

Number of transactions with negative total amount: 2177

Q4) Analyze which product categories are more popular among females vs male customers

In [96]:
customer_final.columns

Index(['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code',
       'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type', 'DOB',
       'Gender', 'city_code', 'prod_cat', 'prod_subcat'],
      dtype='object')

In [99]:
gender_category_counts = customer_final.drop_duplicates(subset=['transaction_id'])
pd.pivot_table(data=gender_category_counts ,index='prod_cat',columns='Gender',values='transaction_id',aggfunc='count')

Gender               F     M
prod_cat
Bags               890   899
Books             2657  2825
Clothing          1286  1388
Electronics       2135  2351
Footwear          1380  1327
Home and kitchen  1810  1922

Q5) Which City code has the maximum customers and what was the percentage of customers from 
that city?

In [82]:

city_counts = customers['city_code'].value_counts()
max_city = city_counts.idxmax()
max_city_percentage = (city_counts.max() / city_counts.sum()) * 100
print('City code with maximum customers:' ,max_city)
print('Percentage of customers from that city:' ,max_city_percentage,'%')

City code with maximum customers: 3.0
Percentage of customers from that city: 10.54030115146147 %

Q6) Which store type sells the maximum products by value and by quantity?

In [16]:
df= customer_final[['Store_type','total_amt','Qty']].groupby(by='Store_type').sum()
df=df.reset_index()
df=df.sort_values(by=['total_amt','Qty'],ascending=False).iloc[0]
df

Store_type         e-Shop
total_amt     19824816.05
Qty                 22763
Name: 3, dtype: object

Q7) What was the total amount earned from the "Electronics" and "Clothing" categories from 
Flagship Stores?

In [70]:
electronics_clothing_flagship = customer_final[(customer_final['prod_cat'].isin(['Electronics', 'Clothing'])) & 
                                          (customer_final['Store_type'] == 'Flagship store')]['total_amt'].sum()
print('Total amount earned from Electronics and Clothing categories from Flagship Stores:', electronics_clothing_flagship)

Total amount earned from Electronics and Clothing categories from Flagship Stores: 3409559.27

Q8) What was the total amount earned from "Male" customers under the "Electronics" category?

In [68]:
male_electronics_sales = customer_final[(customer_final['Gender'] == 'M') & (customer_final['prod_cat'] == 'Electronics')]['total_amt'].sum()
print('Total amount earned from Male customers under Electronics category:', male_electronics_sales)

Total amount earned from Male customers under Electronics category: 5703109.424999999

Q9) How many customers have more than 10 unique transactions, after removing all transactions 
which have any negative amounts?

In [67]:
valid_transactions = customer_final[customer_final['total_amt'] >= 0]
customer_transaction_counts = valid_transactions.groupby('cust_id')['transaction_id'].nunique()
customers_with_10_plus_transactions = customer_transaction_counts[customer_transaction_counts > 10].count()
print('Number of customers with more than 10 unique transactions (after removing negative amounts):', customers_with_10_plus_transactions)

Number of customers with more than 10 unique transactions (after removing negative amounts): 6

Q10)  For all customers aged between 25 - 35, find out:
 a. What was the total amount spent for “Electronics” and “Books” product categories?
 b. What was the total amount spent by these customers between 1st Jan, 2014 to 1st Mar, 2014?

In [46]:
customer_final["DOB"] = pd.to_datetime(customer_final["DOB"])
customer_final["Age"] = (dt.datetime.now() - customer_final["DOB"]).dt.days // 365.25
df = customer_final[customer_final["Age"].between(25, 35)]

####  a. What was the total amount spent for “Electronics” and “Books” product categories?

In [62]:
total_amt_electronics_books = df[df["prod_cat"].isin(["Books", "Electronics"])]["total_amt"].sum()
print("Total amount spent on Electronics and Books:", total_amt_electronics_books)

Total amount spent on Electronics and Books: 3789450.535

####  b. What was the total amount spent by these customers between 1st Jan, 2014 to 1st Mar, 2014?

In [65]:
customer_final["tran_date"] = pd.to_datetime(customer_final["tran_date"], errors="coerce")

total_amt_date_range = customer_final[
    (customer_final["tran_date"] >= "2014-01-01") & (customer_final["tran_date"] <= "2014-03-01")
]["total_amt"].sum()
print("Total amount spent between Jan 1,2014 and Mar 1,2014:", total_amt_date_range)

Total amount spent between Jan 1,2014 and Mar 1,2014: 1202619.0150000001